# Gradle
.gradle/
build/
gradle-app.setting
!gradle-wrapper.jar

# IDE
.idea/
*.iml
*.ipr
*.iws
.vscode/
*.code-workspace

# Eclipse
.classpath
.project
.settings/
bin/

# Fabric
run/
*.log

# OS
.DS_Store
Thumbs.db

# Local
local.properties
